body {
    background-color: #F5F8FF;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    display: flex; /* Aligns items horizontally */
    justify-content: space-between; /* Space between logo, nav, and spacer */
    align-items: center; /* Aligns items vertically */
    position: relative;
}

.header-menu {
    border-radius: 100%;
}

.logo-section {
    display: flex;
    align-items: center;
}

.nav-section {
    position: absolute; /* Positions nav-section at the center */
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
    display: flex;
    gap: 20px;
    background-color: white;
}

button {
    background-color: #FFF;
    border: 1px solid #ddd;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0f0f0;
}

.background-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/iqadam_systems-no-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    opacity: 0.1;
    filter: blur(0px);
    z-index: -1;
}

/* Slider styles */
swiper-container {
  width: 80%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
